# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Databases & Local Data
*.db
*.sqlite3
config/admin_config.json

# OS files
.DS_Store
Thumbs.db   